$accent-posts: indigo;
$accent-projects: teal;
$accent-resume: dodgerblue;

$bg-color: white;
$text-color: #555;
$secondary-text-color: #aaa;

$highlight-bg-color: gainsboro;
$highlight-text-color: #555;

$body-font: 'EB Garamond', serif;
$heading-font: 'Source Sans Pro', sans-serif;
$heading-font-weight: bold;
$code-font: 'Fira Code', monospace;
