<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  {%- assign tab = page.url | split:'/' -%}
  {%- if tab[1] == 'resume' -%}
  <body class="body--resume">
  {%- elsif tab[1] == 'projects' -%}
  <body class="body--projects">
  {%- else -%}
  <body class="body--posts">
  {%- endif -%}
    {%- include header.html -%}
    <main class="content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
